.main-avatar {
  width: 16rem;
  margin: 18.4rem auto 0;
}

.main-avatar .positionStamp {
  position: absolute;
  top: -1.5rem;
  z-index: 1;
}

.main-avatar .image {
  width: 16rem;
  height: 18rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
